<div class="flex justify-center">
    <div></div>

    <div class="w-1/4 lg:w-96 mt-6 p-6 flex flex-col shadow-lg rounded bg-indigo-500" *ngIf="hero">
        <div class="flex justify-between mb-3">
            <h2 class="font-bold text-gray-100">{{hero.name | uppercase}} Details</h2>
            <button class="text-gray-100 underline" type="button" (click)="goBack()">go back</button>
        </div>
        <div class="text-gray-100">id: {{hero.id}}</div>
        <div class="flex">
            <label for="hero-name" class="text-gray-100">Hero name:</label>
            <input class="max-w-40 ml-3 rounded border-2 px-1 text-indigo-500" id="hero-name" [(ngModel)]="hero.name"
                placeholder="name">
            <button class="text-indigo-500 bg-gray-100 ml-3 font-bold p-2 rounded" type="button"
                (click)="save()">save</button>
        </div>
    </div>

    <div></div>
</div>