<div class="flex justify-between mx-6 px-6 py-3 bg-white/80 backdrop-blur-xl rounded-br-lg rounded-bl-lg">
    <h1 class="text-indigo-500 text-[1.875rem] font-bold text-center cursor-pointer" routerLink="/">{{title}}</h1>
    <nav class="flex gap-3 justify-center">
        <a class="font-semibold text-lg text-gray-100 p-2 bg-indigo-500 rounded" *ngFor="let link of navLinks"
            routerLink="{{link.link}}">{{link.linkName}}</a>
    </nav>
</div>

<div class="p-6">
    <router-outlet />
</div>

<span class="grow"></span>

<div class="p-6">
    <app-messages></app-messages>
</div>