<div class="p-6 bg-white bg-opacity-30 backdrop-blur-lg rounded drop-shadow-sm overflow-y-auto h-48 "
    *ngIf="messageService.messages.length">
    <div class="mb-2 flex gap-3 justify-start">
        <h2 class="font-semibold">Messages</h2>
        <button type="button" class="text-sm underline" (click)="messageService.clear()">Clear messages</button>
    </div>
    <p class="text-sm text-gray-500 {{highlightError(message)}}" *ngFor='let message of messageService.messages'>
        {{message}} </p>
</div>